.menuItem {
  padding-right: 3rem;
  font-weight: 900;
}

.menuItem a, .menuItem a:link, .menuItem a:visited {
  text-decoration: none;
  color: black;
}

.menuItem a:hover {
  color: #156c53;
  -webkit-animation: colorchange 3s infinite alternate;
  animation: colorchange 3s infinite alternate;
}

/* .colorful-font,
.Header__sub__profile__image i {
margin: 0;
color: #313131;
font-weight: bold;
-webkit-animation: colorchange 10s infinite alternate;
animation: colorchange 10s infinite alternate;
} */

@-webkit-keyframes colorchange {
0% {
  color: black;
}

20% {
  color: #156c53;;
}

40% {
  color: #1a833c;
}

60% {
  color: #8baf4b;
}


80% {
  color: #d9d984;
}

100% {
  color: #e5e7b6;
}
}

@keyframes colorchange {
  0% {
      color: black;
    }
  
    20% {
      color: #156c53;;
    }
  
    40% {
      color: #1a833c;
    }
  
    60% {
      color: #8baf4b;
    }
  
  
    80% {
      color: #d9d984;
    }
  
    100% {
      color: #e5e7b6;
    }
}