.search-text {
    padding-right: 0.3rem;
    font-weight: 900;
}

.search-input {
    margin: 0.5rem;
    margin-right: 2rem;
    padding: 0.3rem;
    background-color: #e5e7b65b;
    border: solid 1px #8baf4b;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: 0.05rem;
    border-radius: 3px;
}
.divtag {
    display: flex;
}