.header-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: black;

}

.gradient-box {
    height: 0.5rem;
    background: linear-gradient(black, white);
}