.movieinfo {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  

  .movie__poster {
    display: inline-flex;
    height: 300px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.movie__content {
  display: flex;
}

.name {
  font-weight: bold;
}